/* Define the selected style of the sidebar tab */
.sidebar-tabs .nav-link.active {
  background-color: #ffd700 !important; /* Yellow background */
  color: #000000 !important; /* Black text */
  border-color: #ffd700 !important; /* Yellow border */
}

/* Define the mouse hover style for the sidebar tab */
.sidebar-tabs .nav-link:hover {
  background-color: #ffe4b5 !important; /* Light yellow background */
  color: #000000 !important; /* Black text */
}